<?xml version="1.0" encoding="UTF-8"?>
<!--
 * This file is part of the LibreOffice project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This file incorporates work covered by the following license notice:
 *
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements. See the NOTICE file distributed
 *   with this work for additional information regarding copyright
 *   ownership. The ASF licenses this file to you under the Apache
 *   License, Version 2.0 (the "License"); you may not use this file
 *   except in compliance with the License. You may obtain a copy of
 *   the License at http://www.apache.org/licenses/LICENSE-2.0 .
 -->

<component loader="com.sun.star.loader.SharedLibrary" prefix="dbu"
    xmlns="http://openoffice.org/2010/uno-components">
  <implementation name="com.sun.star.comp.dbaccess.DatabaseInteractionHandler">
    <service name="com.sun.star.sdb.DatabaseInteractionHandler"/>
  </implementation>
  <implementation name="com.sun.star.comp.dbaccess.LegacyInteractionHandler">
    <service name="com.sun.star.sdb.InteractionHandler"/>
  </implementation>
  <implementation
      name="com.sun.star.comp.dbaccess.OTextConnectionSettingsDialog">
    <service name="com.sun.star.sdb.TextConnectionSettings"/>
  </implementation>
  <implementation name="com.sun.star.comp.dbu.OColumnControl">
    <service name="com.sun.star.sdb.ColumnDescriptorControl"/>
  </implementation>
  <implementation name="com.sun.star.comp.dbu.OColumnControlModel">
    <service name="com.sun.star.sdb.ColumnDescriptorControlModel"/>
  </implementation>
  <implementation name="com.sun.star.comp.dbu.SbaXGridControl">
    <service name="com.sun.star.form.control.GridControl"/>
    <service name="com.sun.star.form.control.InteractionGridControl"/>
  </implementation>
  <implementation name="com.sun.star.comp.sdb.DirectSQLDialog">
    <service name="org.openoffice.comp.dbu.DirectSqlDialog"/>
  </implementation>
  <implementation name="com.sun.star.sdb.ApplicationStatusbarController">
    <service name="com.sun.star.frame.StatusbarController"/>
  </implementation>
  <implementation name="com.sun.star.sdb.ApplicationToolboxController">
    <service name="com.sun.star.frame.ToolboxController"/>
  </implementation>
  <implementation name="com.sun.star.uno.comp.sdb.RowsetFilterDialog">
    <service name="com.sun.star.sdb.FilterDialog"/>
  </implementation>
  <implementation name="com.sun.star.uno.comp.sdb.RowsetOrderDialog">
    <service name="com.sun.star.sdb.OrderDialog"/>
  </implementation>
  <implementation name="org.openoffice.comp.dbu.CopyTableWizard">
    <service name="com.sun.star.sdb.application.CopyTableWizard"/>
  </implementation>
  <implementation name="org.openoffice.comp.dbu.DBContentLoader">
    <service name="com.sun.star.frame.FrameLoader"/>
    <service name="com.sun.star.sdb.ContentLoader"/>
  </implementation>
  <implementation name="org.openoffice.comp.dbu.OAdvancedSettingsDialog">
    <service name="com.sun.star.sdb.AdvancedDatabaseSettingsDialog"/>
  </implementation>
  <implementation name="org.openoffice.comp.dbu.OApplicationController">
    <service name="com.sun.star.sdb.application.DefaultViewController"/>
  </implementation>
  <implementation name="org.openoffice.comp.dbu.ODBTypeWizDialog">
    <service name="com.sun.star.sdb.DataSourceTypeChangeDialog"/>
  </implementation>
  <implementation name="org.openoffice.comp.dbu.ODBTypeWizDialogSetup">
    <service name="com.sun.star.sdb.DatabaseWizardDialog"/>
  </implementation>
  <implementation
      name="org.openoffice.comp.dbu.ODatasourceAdministrationDialog">
    <service name="com.sun.star.sdb.DatasourceAdministrationDialog"/>
  </implementation>
  <implementation name="org.openoffice.comp.dbu.ODatasourceBrowser">
    <service name="com.sun.star.sdb.DataSourceBrowser"/>
  </implementation>
  <implementation name="org.openoffice.comp.dbu.OFormGridView">
    <service name="com.sun.star.sdb.FormGridView"/>
  </implementation>
  <implementation name="org.openoffice.comp.dbu.OQueryDesign">
    <service name="com.sun.star.sdb.QueryDesign"/>
  </implementation>
  <implementation name="org.openoffice.comp.dbu.ORelationDesign">
    <service name="com.sun.star.sdb.RelationDesign"/>
  </implementation>
  <implementation name="org.openoffice.comp.dbu.OSQLMessageDialog">
    <service name="com.sun.star.sdb.ErrorMessageDialog"/>
  </implementation>
  <implementation name="org.openoffice.comp.dbu.OTableDesign">
    <service name="com.sun.star.sdb.TableDesign"/>
  </implementation>
  <implementation name="org.openoffice.comp.dbu.OTableFilterDialog">
    <service name="com.sun.star.sdb.TableFilterDialog"/>
  </implementation>
  <implementation name="org.openoffice.comp.dbu.OUserSettingsDialog">
    <service name="com.sun.star.sdb.UserAdministrationDialog"/>
  </implementation>
  <implementation name="org.openoffice.comp.dbu.OViewDesign">
    <service name="com.sun.star.sdb.ViewDesign"/>
  </implementation>
</component>
