<?xml version="1.0" encoding="UTF-8"?>
<!--
 * This file is part of the LibreOffice project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This file incorporates work covered by the following license notice:
 *
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements. See the NOTICE file distributed
 *   with this work for additional information regarding copyright
 *   ownership. The ASF licenses this file to you under the Apache
 *   License, Version 2.0 (the "License"); you may not use this file
 *   except in compliance with the License. You may obtain a copy of
 *   the License at http://www.apache.org/licenses/LICENSE-2.0 .
 -->

<component loader="com.sun.star.loader.SharedLibrary" prefix="xsec_xmlsec"
    xmlns="http://openoffice.org/2010/uno-components">
  <implementation name="com.sun.star.security.SerialNumberAdapter">
    <service name="com.sun.star.security.SerialNumberAdapter"/>
  </implementation>
  <implementation name="com.sun.star.xml.security.bridge.xmlsec.NSSInitializer_NssImpl">
    <service name="com.sun.star.xml.crypto.NSSInitializer"/>
  </implementation>
  <implementation name="com.sun.star.xml.security.bridge.xmlsec.SEInitializer_MSCryptImpl">
    <service name="com.sun.star.xml.crypto.SEInitializer"/>
  </implementation>
  <implementation name="com.sun.star.xml.security.bridge.xmlsec.SecurityEnvironment_MSCryptImpl">
    <service name="com.sun.star.xml.crypto.SecurityEnvironment"/>
  </implementation>
  <implementation name="com.sun.star.xml.security.bridge.xmlsec.XMLDocumentWrapper_XmlSecImpl">
    <service name="com.sun.star.xml.wrapper.XMLDocumentWrapper"/>
  </implementation>
  <implementation name="com.sun.star.xml.security.bridge.xmlsec.XMLElementWrapper_XmlSecImpl">
    <service name="com.sun.star.xml.wrapper.XMLElementWrapper"/>
  </implementation>
  <implementation name="com.sun.star.xml.security.bridge.xmlsec.XMLEncryption_MSCryptImpl">
    <service name="com.sun.star.xml.crypto.XMLEncryption"/>
  </implementation>
  <implementation name="com.sun.star.xml.security.bridge.xmlsec.XMLSecurityContext_MSCryptImpl">
    <service name="com.sun.star.xml.crypto.XMLSecurityContext"/>
  </implementation>
  <implementation name="com.sun.star.xml.security.bridge.xmlsec.XMLSignature_MSCryptImpl">
    <service name="com.sun.star.xml.crypto.XMLSignature"/>
  </implementation>
</component>
