<?xml version="1.0" encoding="UTF-8"?>
<!--
 * This file is part of the LibreOffice project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This file incorporates work covered by the following license notice:
 *
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements. See the NOTICE file distributed
 *   with this work for additional information regarding copyright
 *   ownership. The ASF licenses this file to you under the Apache
 *   License, Version 2.0 (the "License"); you may not use this file
 *   except in compliance with the License. You may obtain a copy of
 *   the License at http://www.apache.org/licenses/LICENSE-2.0 .
 -->

<component loader="com.sun.star.loader.SharedLibrary" prefix="sc"
    xmlns="http://openoffice.org/2010/uno-components">
  <implementation name="com.sun.star.comp.Calc.FilterOptionsDialog">
    <service name="com.sun.star.ui.dialogs.FilterOptionsDialog"/>
  </implementation>
  <implementation name="com.sun.star.comp.Calc.SpreadsheetDocument">
    <service name="com.sun.star.sheet.SpreadsheetDocument"/>
  </implementation>
  <implementation name="com.sun.star.comp.Calc.XMLContentExporter">
    <service name="com.sun.star.comp.Calc.XMLContentExporter"/>
  </implementation>
  <implementation name="com.sun.star.comp.Calc.XMLExporter">
    <service name="com.sun.star.comp.Calc.XMLExporter"/>
  </implementation>
  <implementation name="com.sun.star.comp.Calc.XMLMetaExporter">
    <service name="com.sun.star.comp.Calc.XMLMetaExporter"/>
  </implementation>
  <implementation name="com.sun.star.comp.Calc.XMLOasisContentExporter">
    <service name="com.sun.star.comp.Calc.XMLOasisContentExporter"/>
  </implementation>
  <implementation name="com.sun.star.comp.Calc.XMLOasisContentImporter">
    <service name="com.sun.star.comp.Calc.XMLOasisContentImporter"/>
  </implementation>
  <implementation name="com.sun.star.comp.Calc.XMLOasisExporter">
    <service name="com.sun.star.comp.Calc.XMLOasisExporter"/>
  </implementation>
  <implementation name="com.sun.star.comp.Calc.XMLOasisImporter">
    <service name="com.sun.star.comp.Calc.XMLOasisImporter"/>
  </implementation>
  <implementation name="com.sun.star.comp.Calc.XMLOasisMetaExporter">
    <service name="com.sun.star.comp.Calc.XMLOasisMetaExporter"/>
  </implementation>
  <implementation name="com.sun.star.comp.Calc.XMLOasisMetaImporter">
    <service name="com.sun.star.comp.Calc.XMLOasisMetaImporter"/>
  </implementation>
  <implementation name="com.sun.star.comp.Calc.XMLOasisSettingsExporter">
    <service name="com.sun.star.comp.Calc.XMLOasisSettingsExporter"/>
  </implementation>
  <implementation name="com.sun.star.comp.Calc.XMLOasisSettingsImporter">
    <service name="com.sun.star.comp.Calc.XMLOasisSettingsImporter"/>
  </implementation>
  <implementation name="com.sun.star.comp.Calc.XMLOasisStylesExporter">
    <service name="com.sun.star.comp.Calc.XMLOasisStylesExporter"/>
  </implementation>
  <implementation name="com.sun.star.comp.Calc.XMLOasisStylesImporter">
    <service name="com.sun.star.comp.Calc.XMLOasisStylesImporter"/>
  </implementation>
  <implementation name="com.sun.star.comp.Calc.XMLSettingsExporter">
    <service name="com.sun.star.comp.Calc.XMLSettingsExporter"/>
  </implementation>
  <implementation name="com.sun.star.comp.Calc.XMLStylesExporter">
    <service name="com.sun.star.comp.Calc.XMLStylesExporter"/>
  </implementation>
  <implementation name="stardiv.StarCalc.ScAutoFormatsObj">
    <service name="com.sun.star.sheet.TableAutoFormats"/>
  </implementation>
  <implementation name="stardiv.StarCalc.ScFunctionAccess">
    <service name="com.sun.star.sheet.FunctionAccess"/>
  </implementation>
  <implementation name="stardiv.StarCalc.ScFunctionListObj">
    <service name="com.sun.star.sheet.FunctionDescriptions"/>
  </implementation>
  <implementation name="stardiv.StarCalc.ScRecentFunctionsObj">
    <service name="com.sun.star.sheet.RecentFunctions"/>
  </implementation>
  <implementation name="stardiv.StarCalc.ScSpreadsheetSettings">
    <service name="com.sun.star.sheet.GlobalSheetSettings"/>
  </implementation>
</component>
